.wrapper {
    display: grid;
    grid-template-rows: 50px 100px 1fr;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 'sidebar-grid nav-grid '
        'sidebar-grid recommended-grid'
        'sidebar-grid card-container-grid'
    ;
    width: 100%;
    height: auto;
    gap: 10px 10px;

}